# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these
# users will be requested for review when someone opens a
# pull request.
*       @jadewang-db @jackyhu-db @vikrantpuppala @deeksha-db @samikshya-db @jprakash-db @madhav-db @gopalldb @jayantsing-db @shivam2680

